body{
    background-color: coral;
}

.text{
    color: white;
}
.link{
    color:navajowhite;
}
a:hover{
    color: lightyellow;
}
#title{
    font-size: 24px;
}
.block{
    font-size: 36px;
    background-color: lightyellow;
    color: coral;
    border-radius: 12px;
}
header{
    text-align: center;
}