body{
    background-color: coral;
}

.text{
    color: white;
    font-family: Verdana, sans-serif;
}
.link{
    color:navajowhite;
    font-family: Verdana, sans-serif;
}
a:hover{
    color: lightyellow;
}
#title{
    font-size: 24px;
}
.block{
    font-size: 36px;
    background-color: lightyellow;
    color: coral;
    border-radius: 12px;
    border-style: dotted;
    border-color: coral;
    border-width: 3px;
    font-family: Verdana, sans-serif;
}
header{
    text-align: center;
}